<!DOCTYPE html>
　　<html>
　　<head>
　　　　<meta http-equiv="content-type" content="text/html; charset=utf-8" />
       <link rel="stylesheet" href="../../../css/post.css" type="text/css">
       <link href="http://cdn.bootcss.com/highlight.js/8.0/styles/monokai_sublime.min.css" rel="stylesheet">
　　　　<title>{{ page.title }}</title>
　　</head>
　　<body>
        <div class="container">
    　　　　{{ content }}
        </div>
   <script src="http://cdn.bootcss.com/highlight.js/8.0/highlight.min.js"></script>
   <script >hljs.initHighlightingOnLoad();</script>  
　　</body>
　　</html>
